h1,
h2 {
  color: red;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
}
h2 {
  opacity: 30%;
  background-color: brown;
}
h3 {
  /* display: none; */
  visibility: visible;
  /* visibility có thừa kế  */
}
input:checked ~ img,
input:checked ~ hr {
  /* opacity: 0; */
  display: none;
}
img {
  transition: 2s;
}
#l1 {
  opacity: 1;
  font-size: 20px;
  background-color: navy;
  color: azure;
}
/* * {
  color: blueviolet;
} */
/* a[href] {
  color: green;
  font-size: 20px;
} */
a :hover {
  color: red;
  font-size: 25px;
}
table :hover {
  color: red;
}
a :active {
  color: yellow;
  font-size: 25px;
}
.click_on:link {
  color: green;
}
.click_on:visited {
  color: blueviolet;
}
.box_test {
  background-color: aqua;
  width: 200px;
  height: 100px;
  padding: 30px;
  border: 10px dotted blueviolet;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#n1 {
  background-color: aqua;
}
