h1,
h2 {
  color: red;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
}
h2 {
  opacity: 30%;
  background-color: brown;
}
h3 {
  /* display: none; */
  visibility: visible;
  /* visibility có thừa kế  */
}
input:checked ~ img,
input:checked ~ hr,
input:checked ~ hr + .hinh {
  /* opacity: 0; */
  display: none;
}
img {
  transition: 2s;
}
#l1 {
  opacity: 1;
  font-size: 20px;
  background-color: navy;
  color: azure;
}
/* * {
  color: blueviolet;
} */
/* a[href] {
  color: green;
  font-size: 20px;
} */
a :hover {
  color: red;
  /* font-size: 25px; */
}
table :hover {
  color: red;
}
a :active {
  color: yellow;
  font-size: 25px;
}
.click_on {
  text-decoration: none;
  background-color: wheat;
  border-radius: 99px;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
}
.click_1 :hover {
  background-color: black;
}
.click_on:link {
  color: green;
}
.click_on:visited {
  color: blueviolet;
}
.box_test {
  background-color: aqua;
  width: 200px;
  height: 100px;
  padding: 30px;
  border: 10px dotted blueviolet;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#n1 {
  background-color: aqua;
}
.hinh_chi_tiet {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid violet;
  background-size: cover;
}
body {
  text-align: center;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
.tab {
  margin: -0.5rem;
  padding: 10px;
  height: 40px;
  align-content: center;
  /* background-color: aqua; */
  background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
  border-bottom: 4px solid #21c8d1;
}
.tab1 {
  color: rgb(30, 25, 98);
  font-size: 22px;
  margin: 30px;
}
#ctit {
  color: #4facfe;
}
.it {
  text-align: center;
  font-size: 20px;
  margin: 0px 500px 0px 500px;
}
